<div class="page-container">
  <div class="delete-page-button" {{action "deletePage"}}>
    <span class="glyphicon glyphicon-remove"
          aria-label="Delete"
          aria-hidden="true"></span>
  </div>
  <div {{bind-attr class="albumClassNames"}}>
    {{#each photo in currentPage.photos}}
      {{display-photo photo=photo action="openPhotoModal" class="is-edit"}}
    {{/each}}
    {{#each quote in currentPage.quotes}}
      {{display-quote quote=quote action="openQuoteModal" class="is-edit"}}
    {{/each}}
  </div>
</div>

{{partial "partials/navigation"}}
{{ribbon-nav buttonClassName="new-page-button"
             ribbonText="+Page"
             action="newPage"}}
{{partial "partials/photo_modal"}}
{{partial "partials/quote_modal"}}
{{partial "partials/layout_modal"}}
