<div id="layout-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                {{action "closeLayoutModal"}} aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Choose a layout</h4>
      </div>
      <div class="modal-body">
        {{#each layout in LAYOUTS itemController="layoutPreview"}}
          <div {{bind-attr class=":layout-preview layout.isSelected"}} {{action "selectLayout" layout.id}}>
            {{layout-preview layout.numPhotos layout.id action="closeLayoutModal"}}
          </div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                {{action "closeLayoutModal"}}>Cancel</button>
        <button type="button" class="btn btn-primary"
                {{action "saveLayoutModal"}}>Save</button>
      </div>
    </div>
  </div>
</div>
