<!DOCTYPE html>
<html>
<head>
  <title>Photobook</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Merriweather" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Satisfy" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.3.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" %>
</head>
<body>
  <%= javascript_include_tag "application" %>
</body>
</html>
